<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="tachiyomi.novelextension" />

    <application android:icon="@mipmap/ic_launcher" android:allowBackup="false" android:label="${appName}">

        <meta-data android:name="tachiyomi.novelextension.class" android:value="${extClass}" />
        <meta-data android:name="tachiyomi.novelextension.nsfw" android:value="${nsfw}" />
        <meta-data android:name="tachiyomi.novelextension.novel" android:value="1" />

    </application>

</manifest>
